<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

<appSettings>
  <add key="MaxUriLength" value="512" />
  <add key="UseStreams" value ="false"/>
  <add key="HostDirectories" value="*=C:\Work\SiteRoot;www.webday.com=C:\Work\SiteRoot2"/>
  <add key="Port" value="9000"/>
</appSettings>
</configuration>
