<?xml version="1.0"?>
<configuration>
<startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>

<appSettings>
  <add key="RootDirectory" value="C:\Work\SiteRoot" />
  <add key="MaxUriLength" value="512" />
  <add key="UseStreams" value ="false"/>
  <add key="Host" value="*"/>
  <add key="Port" value="9000"/>
</appSettings>
</configuration>
